@font-face{font-family:dindin; src:url(../fonts/DINReg.ttf)}

.exampleClass {font-family: dindin, Arial, sans-serif; font-size:1.2em}

.navbar {font-family: dindin, Arial, sans-serif; font-size:1.2em}

.login-container {
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-form-1 {
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3 {
    text-align: center;
    color: #333;
}
.login-form-2 {
    padding: 5%;
    background: #0062cc;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3 {
    text-align: center;
    color: #fff;
}
.login-container form {
    padding: 10%;
}

.btnSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}

.login-form-1 .btnSubmit {
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}

.login-form-2 .btnSubmit {
    font-weight: 600;
    color: #0062cc;
    background-color: #fff;
}

.login-form-2 .ForgetPwd {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.login-form-1 .ForgetPwd {
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}

.row {
    margin: 80px 0px 80px 0px;
}

.admin-tools {
    margin: 10px 10px 10px 10px;
    height: 150px;
    width: 150px;
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; /* Safari */
    background-color: lightskyblue;
}

.admin-tools:hover {
	cursor: pointer;
	-webkit-transform: scale(2, 2);
    -ms-transform: scale(2, 2);
    transform: scale(2, 2);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; /* Safari */
    box-shadow: 10px 10px 5px #888888;
    z-index: 1;
}

#cancel {
    color:red;
    text-align:center;
    text-decoration:none;
}

#tools-title {
    font-size: 145%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.uow-added {
    background-color: green;
}

.uow-modify {
    background-color: yellow;
}

.uow-delete {
    background-color: red;
}

.hidden {
    display: none;
}

.btnSubmit2 {
    width: 100%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    background-color: #0062cc;
    color: white;

}

.actors {
    height: 380px;
    width: 320px;
    text-align: center;
    vertical-align: middle;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; /* Safari */
    background-color: white;
    border: transparent;
    margin: 20px 20px 20px 20px;
}

.actors:hover {
	cursor: pointer;
	-webkit-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; /* Safari */
    z-index: 1;
    border: transparent;
}

.about_header{
    font-size: 145%;
    font-weight: bold;
}

.imgInstruction{
    -webkit-column-span: 3; /* Chrome, Safari, Opera */
    column-span: 3;
}

.instruction{
    -webkit-column-span: 2;
    column-span: 2;
}


.borderless table {
    -webkit-column-span: 2;
    column-span: 2;
    border: 0;
    border-bottom: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.borderless td {
    border: 0;
    border-bottom: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.borderless th{
    border: 0;
    border-bottom: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.borderless tr:nth-child(even) {
    background-color: #dddddd;
}

.alice {
    text-align: center;
    vertical-align: middle;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; /* Safari */
}

.alice:hover {
	cursor: pointer;
	-webkit-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; /* Safari */
    z-index: 1;
