
<div class="container login-container">
    <div class="col-md-12 login-form-2">
        <h3>Add Book</h3>
        {% from "includes/_form_helpers.html" import render_field %}
        
        <form method="POST" action="/admin_tools/catalog_manager/add_book">
            <div class="form-group text-white">
                {{render_field(form.title, class_="form-control", placeholder="E.g.: King John")}}
            </div>
            <div class="form-group text-white">
                {{render_field(form.author, class_="form-control", placeholder="E.g.: Shakespeare")}}
            </div>
            <div class="form-group text-white">
                {{render_field(form.format, class_="form-control", placeholder="E.g.: Paperback")}}
            </div>
            <div class="form-group text-white">
                {{render_field(form.publication_year, class_="form-control", placeholder="E.g.: 1988")}}
            </div>
            <div class="form-group text-white">
                {{render_field(form.pages, class_="form-control", placeholder="E.g.: 298")}}
            </div>
            <div class="form-group text-white">
                {{render_field(form.publisher, class_="form-control", placeholder="E.g.: Penguin Leaders")}}
            </div>
            <div class="form-group text-white">
                {{render_field(form.language, class_="form-control", placeholder="E.g.: English")}}
            </div>
            <div class="form-group text-white">
                {{render_field(form.isbn10, class_="form-control", placeholder="10-digit number")}}
            </div>
            <div class="form-group text-white">
                {{render_field(form.isbn13, class_="form-control", placeholder="13-digit number")}}
            </div>
            <div class="form-group text-white">
                {{render_field(form.quantity, class_="form-control", placeholder="From 1 to 255")}}
            </div>
            <div class="row form-group text-white">
                <input type="submit" class="col-md-5 btnSubmit" value="Add" />
                <div class="col-md-2"></div>
                <a class="col-md-5 btnSubmit" id="cancel" href="/admin_tools/catalog_manager">Cancel</a>
            </div>
        </form>
    </div>
</div>
