
<div class="container login-container">
    <div class="col-md-12 login-form-2">
        <h3>Add Movie</h3>
        {% from "includes/_form_helpers.html" import render_field %}
        
        <form method="POST" action="/admin_tools/catalog_manager/add_movie">
            <div class="form-group text-white">
                {{render_field(form.title, class_="form-control", placeholder="example: The Crimson King")}}
            </div>
            <div class="form-group text-white">
                {{render_field(form.director, class_="form-control", placeholder="example: Kiefer Shaw")}}
            </div>
            <div class="form-group text-white">
                {{render_field(form.producers, class_="form-control", placeholder="example: Guy Tremblay, Regis Mortimer")}}
            </div>
            <div class="form-group text-white">
                {{render_field(form.actors, class_="form-control", placeholder="example: Robert Ricky, Billy Boller")}}
            </div>
            <div class="form-group text-white">
                {{render_field(form.language, class_="form-control", placeholder="example: English")}}
            </div>
            <div class="form-group text-white">
                {{render_field(form.subtitles, class_="form-control", placeholder="example: English")}}
            </div>
            <div class="form-group text-white">
                {{render_field(form.dubbed, class_="form-control", placeholder="example: French")}}
                <p>(* optional)</p>
            </div>
            <div class="form-group text-white">
                {{render_field(form.release_date, class_="form-control", placeholder="DD-MM-YYYY")}}
            </div>
            <div class="form-group text-white">
                {{render_field(form.runtime, class_="form-control", placeholder="In minutes")}}
            </div>
            <div class="form-group text-white">
                {{render_field(form.quantity, class_="form-control", placeholder="From 0 to 255")}}
            </div>
            <div class="row form-group text-white">
                <input type="submit" class="col-md-5 btnSubmit" value="Add" />
                <div class="col-md-2"></div>
                <a class="col-md-5 btnSubmit" id="cancel" href="/admin_tools/catalog_manager">Cancel</a>
            </div>
        </form>
    </div>
</div>
    