
<span class="titles"> Welcome to Admin Help </span>
<hr>
<p class="admin_help">
        As an Admin, you have access to a special panel called Admin Tools. You can see a link for the Admin Tools in the navigation bar. Clicking on that link will always take you back to your tool panel.
        </p>
        <img src="/static/presentation/img/admin_help_tools_view_1.png">
        <br>
        <br>
        <p class = "admin_help">
            The Catalog Manager is a very powerful tool. With this tool, you can add, delete or modify items in the Library catalog.
        </p>
        <img src="/static/presentation/img/admin_help_tools_view_2.png">
        <br>
        <br>
        <p class = "admin_help">
                It's as easy as clicking a button to get started adding a new item to the catalog. Then just fill out the form and click the add button to make sure all the information has been entered correctly.
        </p>
        <img src="/static/presentation/img/admin_help_tools_view_3.png">
        <br>
        <br>
        <img src="/static/presentation/img/admin_help_tools_view_4.png">
        <br>
        <br>
        <p class = "admin_help">
                The item you added will appear in a green row along with the other items in the catalog. You can save your work or you can continue adding, editing or deleting items from the catalog. Items that you've modified will appear in a yellow row, and items that will be deleted appear in a red row. If you change your mind about deleting something, you can just cancel before saving your changes.
        </p>
        <img src="/static/presentation/img/admin_help_tools_view_5.png">
        <br>
        <br>
        <p class = "admin_help">
                When you are all done and are happy with all your changes you need to save your work by clicking on the button at the bottom of the catalog manager.
        </p>
        <img src="/static/presentation/img/admin_help_tools_view_6.png">
        <br>
        <br>