{% block body %}

<h1> Catalog Manager </h1>

{% if item %}
    {% if item == "add_movie" %}
        {% include 'includes/_add_movie.html' %}
    {% elif item == "add_book" %}
        {% include 'includes/_add_book.html' %}
    {% elif item == "add_magazine" %}
        {% include 'includes/_add_magazine.html' %}
    {% elif item == "add_music" %}
        {% include 'includes/_add_music.html' %}
    {% elif item == "edit" %}
        {% include 'includes/_edit_page.html' %}
    {% endif %}


{% else %}
<div class="tool-container container">
    <hr>
    <div class="row container tool-container1">
        <a class="admin-tools rounded" href="/admin_tools/catalog_manager/add_book"><div class="rounded">Add Book</div></a>
        <a class="admin-tools rounded" href="/admin_tools/catalog_manager/add_magazine"><div class="rounded">Add Magazine</div></a>
        <a class="admin-tools rounded" href="/admin_tools/catalog_manager/add_movie"><div class="rounded">Add Movie</div></a>
        <a class="admin-tools rounded" href="/admin_tools/catalog_manager/add_music"><div class="rounded">Add Music</div></a>
    </div>
</div>
{% endif %}


<h3>Books</h3>
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Format</th>
            <th>Pages</th>
            <th>Publisher</th>
            <th>Language</th>
            <th>ISBN-10</th>
            <th>ISBN-13</th>
            <th>Status</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for x in catalog.item_catalog %}
            {% if x.prefix == "bb" %}
                <tr>
                    <td>{{x.title}}</td>
                    <td>{{x.author}}</td>
                    <td>{{x.format}}</td>
                    <td>{{x.pages}}</td>
                    <td>{{x.publisher}}</td>
                    <td>{{x.language}}</td>
                    <td>{{x.isbn10}}</td>
                    <td>{{x.isbn13}}</td>
                    <td>{{x.status}}</td>
                    <td><form method="GET" action="/admin_tools/edit_entry/{{x.id}}">
                        <input type="submit" value="Edit" /></form></td>
                    <td><form method="POST" action="/admin_tools/delete_entry/{{x.id}}">
                        <input type="submit" value="Delete" /></form></td>
                </tr>
            {% endif %}
        {% endfor %}
        {% if saved_changes %}
            {% for y in saved_changes[0] %}
                {% if y.prefix == "bb" %}
                    <tr class = "uow-added">
                        <td>{{y.title}}</td>
                        <td>{{y.author}}</td>
                        <td>{{y.format}}</td>
                        <td>{{y.pages}}</td>
                        <td>{{y.publisher}}</td>
                        <td>{{y.language}}</td>
                        <td>{{y.isbn10}}</td>
                        <td>{{y.isbn13}}</td>
                        <td>{{y.status}}</td>
                        <td><form method="GET" action="/admin_tools/edit_entry/{{y.id}}">
                            <input type="submit" value="Edit" /></form></td>
                        <td><form method="POST" action="/admin_tools/delete_entry/{{y.id}}">
                            <input type="submit" value="Delete" /></form></td>
                    </tr>
                    {% endif %}
            {% endfor%}    
        {% endif %}
    </tbody>
</table>
<br />

<h3>Magazines</h3>
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Publisher</th>
            <th>Language</th>
            <th>ISBN-10</th>
            <th>ISBN-13</th>
            <th>Status</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for x in catalog.item_catalog %}
            {% if x.prefix == "ma" %}
                <tr>
                    <td>{{x.title}}</td>
                    <td>{{x.publisher}}</td>
                    <td>{{x.language}}</td>
                    <td>{{x.isbn10}}</td>
                    <td>{{x.isbn13}}</td>
                    <td>{{x.status}}</td>
                    <td><form method="GET" action="/admin_tools/edit_entry/{{x.id}}">
                        <input type="submit" value="Edit" /></form></td>
                    <td><form method="POST" action="/admin_tools/delete_entry/{{x.id}}">
                        <input type="submit" value="Delete" /></form></td>
                </tr>
            {% endif %}
        {% endfor %}
        {% if saved_changes %}
            {% for y in saved_changes[0] %}
                {% if y.prefix == "ma" %}
                    <tr class = "uow-added">
                        <td>{{y.title}}</td>
                        <td>{{y.publisher}}</td>
                        <td>{{y.language}}</td>
                        <td>{{y.isbn10}}</td>
                        <td>{{y.isbn13}}</td>
                        <td>{{y.status}}</td>
                        <td><form method="GET" action="/admin_tools/edit_entry/{{y.id}}">
                            <input type="submit" value="Edit" /></form></td>
                        <td><form method="POST" action="/admin_tools/delete_entry/{{y.id}}">
                            <input type="submit" value="Delete" /></form></td>
                    </tr>
                    {% endif %}
            {% endfor%}    
        {% endif %}
    </tbody>
</table>
<br />

<h3>Movies</h3>
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Director</th>
            <th>Producers</th>
            <th>Actors</th>
            <th>Language</th>
            <th>Subtitles</th>
            <th>Dubbed</th>
            <th>Release Date</th>
            <th>Run Time</th>
            <th>Status</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for x in catalog.item_catalog %}
            {% if x.prefix == "mo" %}
                <tr>
                    <td>{{x.title}}</td>
                    <td>{{x.director}}</td>
                    <td>{{x.producers}}</td>
                    <td>{{x.actors}}</td>
                    <td>{{x.language}}</td>
                    <td>{{x.subs}}</td>
                    <td>{{x.dubbed}}</td>
                    <td>{{x.release_date}}</td>
                    <td>{{x.runtime}}</td>
                    <td>{{x.status}}</td>
                    <td><form method="GET" action="/admin_tools/edit_entry/{{x.id}}">
                        <input type="submit" value="Edit" /></form></td>
                    <td><form method="POST" action="/admin_tools/delete_entry/{{x.id}}">
                        <input type="submit" value="Delete" /></form></td>
                </tr>
            {% endif %}
        {% endfor %}
        {% if saved_changes %}
            {% for y in saved_changes[0] %}
                {% if y.prefix == "mo" %}
                    <tr class = "uow-added">
                        <td>{{y.title}}</td>
                        <td>{{y.director}}</td>
                        <td>{{y.producers}}</td>
                        <td>{{y.actors}}</td>
                        <td>{{y.language}}</td>
                        <td>{{y.subs}}</td>
                        <td>{{y.dubbed}}</td>
                        <td>{{y.release_date}}</td>
                        <td>{{y.runtime}}</td>
                        <td>{{y.status}}</td>
                        <td><form method="GET" action="/admin_tools/edit_entry/{{y.id}}">
                            <input type="submit" value="Edit" /></form></td>
                        <td><form method="POST" action="/admin_tools/delete_entry/{{y.id}}">
                            <input type="submit" value="Delete" /></form></td>
                    </tr>
                    {% endif %}
            {% endfor%}    
        {% endif %}
    </tbody>
</table>
<br />

<h3>Music</h3>
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Type</th>
            <th>Title</th>
            <th>Artist</th>
            <th>Label</th>
            <th>Release Date</th>
            <th>ASIN</th>
            <th>Status</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for x in catalog.item_catalog %}
            {% if x.prefix == "mu" %}
                <tr>
                    <td>{{x.media_type}}</td>
                    <td>{{x.title}}</td>
                    <td>{{x.artist}}</td>
                    <td>{{x.label}}</td>
                    <td>{{x.release_date}}</td>
                    <td>{{x.asin}}</td>
                    <td>{{x.status}}</td>
                    <td><form method="GET" action="/admin_tools/edit_entry/{{x.id}}">
                        <input type="submit" value="Edit" /></form></td>
                    <td><form method="POST" action="/admin_tools/delete_entry/{{x.id}}">
                        <input type="submit" value="Delete" /></form></td>
                </tr>
            {% endif %}
        {% endfor %}
        {% if saved_changes %}
            {% for y in saved_changes[0] %}
                {% if y.prefix == "mu" %}
                    <tr class = "uow-added">
                            <td>{{y.media_type}}</td>
                            <td>{{y.title}}</td>
                            <td>{{y.artist}}</td>
                            <td>{{y.label}}</td>
                            <td>{{y.release_date}}</td>
                            <td>{{y.asin}}</td>
                            <td>{{y.status}}</td>
                        <td><form method="GET" action="/admin_tools/edit_entry/{{y.id}}">
                            <input type="submit" value="Edit" /></form></td>
                        <td><form method="POST" action="/admin_tools/delete_entry/{{y.id}}">
                            <input type="submit" value="Delete" /></form></td>
                    </tr>
                    {% endif %}
            {% endfor%}    
        {% endif %}
    </tbody>
</table>
{% endif%}

{% endblock %}