<span class="titles"> Welcome to Client Help </span>
<hr>
<p class="client_help">
        As an Client, you may search the catalog for items and loan them if available. You can find the link to the catalog in the navigation bar as "Home". Clicking on that link will always take you to the Catalog.
        You are allowed to borrow at most 10 items at a time from the catalog. Books are due in a week, movies and music in 2 days and magazines are unfortunately unavailable.
        </p>
        <img src="/static/presentation/img/client_help_1.png"/>
        <br>
        <br>
        <p class = "client_help">
            Browse through the different types of items in the catalog by clicking on their designated tab. You may search for specific items by entering keywords in the search bar and specifying whether you are looking by title, or other specifications that the item has.
        </p>
        <img src="/static/presentation/img/client_help_2.png"/>
        <br>
        <br>
        <img src="/static/presentation/img/client_help_3.png"/>
        <br>
        <br>
        <p class = "client_help">
                You may sort the resulting list of items, once again, by selecting the specification of the item by which you wish to sort and choose whether they should appear in ascending or descending order.
        </p>
        <img src="/static/presentation/img/client_help_4.png"/>
        <br>
        <br>
        <p class = "client_help">
                To view details about an item, click on the magnifying glass. Once in the detailed view, you may view the next or previous item with the buttons.
        </p>
        <img src="/static/presentation/img/client_help_5.png"/>
        <br>
        <br>
        <img src="/static/presentation/img/client_help_6.png"/>
        <br>
        <br>
        <p class = "client_help">
                To add an item to your cart, you simply click the "Add To Cart" button.         
        </p>
        <p><img src="/static/presentation/img/button_1.PNG"/> - Button to add item to cart.</p>
        <p><img src= "/static/presentation/img/button_2.PNG"/> - The item has been added to your cart.</p>
        <p><img src= "/static/presentation/img/button_3.PNG"/> - The item is in your cart and you may try to add another copy.</p>
        <p><img src= "/static/presentation/img/button_4.PNG"/> - The item is unavailable and may not be added to your cart. (This is the constant state of all magazines in the catalog)</p>
        <p><img src= "/static/presentation/img/button_5.PNG"/> - You have reached your maximum cart capacity (10) therefore, the item may not be added.</p> 
        <p><img src= "/static/presentation/img/button_6.PNG"/> - Magazines cannot be loaned.</p>
        <img src="/static/presentation/img/client_help_7.png"/>
        <br>
        <br>
        <p class="client_help">
                You may view your cart and the items it contains by clicking the "Cart" button on the navigation bar.
        </p> 
        <img src= "/static/presentation/img/client_help_8.png"/>
        <br>
        <br>
        <p class="client_help">
                To remove an item from your cart, click the "Remove" button. To empty your entire cart, press the "Empty Cart" button found at the bottom left of the page.
        </p>
        <img src= "/static/presentation/img/client_help_9.png"/>
        <br>
        <br>
        <p class="client_help">
                To make a loan, simply checkmark the items you wish to loan and click the "Loan" button in the bottom left corner. This action will bring you to your "Borrowed Items" page where you can see items you have borrowed and their due-date.
        </p>
        <img src= "/static/presentation/img/client_help_10.png"/>
        <br>
        <br>
        <img src= "/static/presentation/img/client_help_11.png"/>
        <br>
        <br>
        <p class="client_help">
                To return your loaned items, simply press "Return Selected Items" to return checkmarked items.
        </p>
        <p>
                        If you still have any questions, you can always send an email with your concerns to <a href="mailto:bob@gmail.com">bob@gmail.com</a> and we will gladly get back to you.
        </p>
        <br>
        <br>