<div class="container login-container">
    <div class="col-md-12 login-form-2">
        <h3>Modify a user</h3>
        {% from "includes/_form_helpers.html" import render_field %}
        <form method="POST" action="/admin_tools/edit_user/{{id}}">
            <div class="form-group text-white">
                {{render_field(form.first_name, class_="form-control")}}
            </div>
            <div class="form-group text-white">
                {{render_field(form.last_name, class_="form-control")}}
            </div>
            <div class="form-group text-white">
                {{render_field(form.email, class_="form-control")}}
            </div>
            <div class="form-group text-white">
                {{render_field(form.address, class_="form-control")}}
            </div>
            <div class="form-group text-white">
                {{render_field(form.phone, class_="form-control")}}
            </div>
            <div class="row form-group text-white">
                <input type="submit" class="col-md-5 btnSubmit" value="Modify" />
                <div class="col-md-2"></div>
                <a class="col-md-5 btnSubmit" id="cancel" href="/admin_tools/view_users">Cancel</a>
            </div>
        </form>
    </div>
</div>
