<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <a class="navbar-brand" href="/">Booker LMS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                {% if session.logged_in %}
                    <a class="nav-link" href="/logout">Logout</a>
                {% else %}
                    <a class="nav-link" href="/login">Login</a>
                {% endif %}
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            {% if session.admin == True %}
            <li class="nav-item">
                <a id="admin-glow" class="nav-link" href="/admin_tools">Admin Tools</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link-symbol" href="/about/admin"><img src="/static/presentation/img/Help_button.png"></a>
            </li>
            {% endif %}
            {% if session.admin == False %}
            <li class="nav-item">
                <a id="nav-link" class="nav-link" href="/borrowed_items">Borrowed Items</a>
            </li>
            <li class="nav-item">
                <a id="admin-glow" class="nav-link" href="/cart">Cart</a>
            </li>
            <li>
                <a class="nav-link-symbol" href="/cart"><img src="/static/presentation/img/cart_button.png"/></a>
            </li>
            <li class="nav-item">
                <a class="nav-link-symbol" href="/about/client"><img src="/static/presentation/img/Help_button.png"></a>
            </li>
            {% endif %}
        </ul>
    </div>
  </nav>