<div class="tool-container container">
<span class="titles">Transaction History</span>
<hr>
</div>

<table id="table" class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Transaction ID</th>
            <th>User ID</th>
            <th>Item ID</th>
            <th>Item Type</th>
            <th>Transaction Type</th>
            <th>Timestamp</th>
            <th>Due Date</th>
        </tr>
    </thead>
    <tbody>
        {% for x in transaction %}
        <tr>
            <td>{{x.transaction_id}}</td>
            <td>{{x.user_fk}}</td>
            <td>{{x.physical_item.id}}</td>
            <td>{% if x.physical_item.prefix == "bb" %} Book 
                {% elif x.physical_item.prefix == "ma" %} Magazine 
                {% elif x.physical_item.prefix == "mu" %} Music 
                {% elif x.physical_item.prefix == "mo" %} Movie 
                {% endif %}
            </td>
            <td>{{x.transaction_type}}</td>
            <td>{{x.timestamp}}</td>
            <td>{% if x.transaction_type == "loan" %} {% if x.physical_item.return_date %} {{x.physical_item.return_date}} {% else %} Returned {% endif %} {% else %} N/A {% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- This script should not be called from an external js file -->
<script>
    $(document).ready( function () {
        $('table').DataTable({
            "orderClasses": false
        });
    } );
</script>