{% if list_of_users %}
<table>
        <caption style="caption-side:top">List of Users</caption>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Administrator</th>
        </tr>
        {% for user in list_of_users %}
        <tr>
            <td>{{ user.user_id }}</td>
            <td>{{ user.firstname }}</td>
            <td>{{ user.lastname }}</td>
            <td>{{ user.address }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ 'Yes' if user.admin == 1 else 'No' }}</td>
        {% endfor %}
    </table>
{% endif %}
