{% if user == "edit" %}
    {% include 'includes/_edit_user.html' %}
{% endif %}
{% if list_of_users %} 
    <table>
        <caption style="caption-side:top">List of Users</caption>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Address</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Administrator</th>
            <th></th>
            <th></th>
        </tr>
        {% for user in list_of_users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.address }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ 'Yes' if user.admin == 1 else 'No' }}</td>
            <td><form method="GET" action="/admin_tools/edit_user/{{user.id}}">
                <input type="submit" value="Edit" /></form></td>
            {% if admin_id == user.id %}
            <td></td>
            {% else %}
            <td>
                {% include 'includes/_user_delete.html' %}
                <button type="button" data-toggle="modal" data-target="#user{{user.id}}">Delete</button>
            </td>
            {% endif %}
        {% endfor %}
    </table>
{% endif %}
