{% extends 'layout.html' %}

{% block body %}
    <span id="about">About</span>
    <hr>
    <br>
    <a href="#what_is_booker_lms"><button class="actors"><img src="/static/presentation/img/Actor1trsp.png" alt="What Is Booker LMS?"/></button></a>
    <a href="#what_do_i_do"><button class="actors"><img src="/static/presentation/img/Actor2trsp.png" alt="What Do I Do?"/></button></a>
    <a href="#who_made_this"><button class="actors"><img src="/static/presentation/img/Actor3trsp.png" alt="Who Made This?"/></button></a>
    <br>
    <br>
    <span id="what_is_booker_lms">What is Booker LMS?</span>
    <hr>
    <p>Booker LMS, a Library Management System, provides on-line access to a Library catalog that any logged-in user may explore. The catalog is filled with wonders such as printed and media items, namely, books, magazines, music and movies. Pick and choose from the large selection of items of all genres and loan it to enjoy it. All items are loanable if available, at the exception of magazines.</p>
    <span id="what_do_i_do">What do I do?</span>
    <hr>
    <p>Welcome to Booker LMS, first time here? It is Bob's first time as well, so let us figure it out together.</p>
    <br>
    <table class="intructions">
        <tr>
            <td><img src="/static/presentation/img/Bob Says Hi.png" alt="Bob Says Hi"/></td>
            <td><img src="/static/presentation/img/Bob is Lost.png" alt="Bob Is Lost"/></td>
            <td>Bob visited the Booker Library yesterday and chose an email and password he would use to gain access to the on-line system. After his account being setup, he decided to visit, for the first time, the Booker LMS web application to choose an item to borrow. However, he has no clue how to navigate the system! Follow the steps below to find out how!</td>
        </tr>
        <tr>
            <th>Step 1: Go to the login page</th>
            <td class="instruction">To get to the login page, Bob must click on the Login button located, at the top of the page, on the navigation bar.</td>
        </tr>
        <tr>
            <td class="imgInstruction">Image for Step 1</td>
        </tr>
        <tr>
            <th>Step 2: Log in</th>
            <td class="instruction">To gain access to the functionalities of the system, Bob must enter his email address and password in the appropriate fields and click the Login button right below.</td>
        </tr>
        <tr>
            <td class="imgInstruction">Image for Step 2</td>
        </tr>
        <tr>
            <th>Step 3: Determine Scope of Access</th>
            <td class="instruction">Are you like Alice and have an administrator account? Log in as explained above and follow Alice to view further instructions.</td>
        </tr>
        <tr>
            <!--{% if session.admin == True %}
                <th><a href="/about/admin_help"><button class="alice"><img src="static/presentation/img/Alice Says Follow Me.png"/></button></a></th>
            {% else %}
                <th><button class="alice"><img src="static/presentation/img/Alice Says Follow Me.png"/></button></th>
            {% endif %}-->
            <th>Hi, I am Alice! Log in, come back on this page and follow me to get more instructions about how to navigate as an administrator.</th>  
            <td></td>  
        </tr>
        <tr>
            <th>Step 4: [...] More instructions to follow once implementation is complete</th>
            <td class="instuction">Information to be added</td>
        </tr>
        <tr>
            <td>Images to be added for explanations</td>
            <td></td>
            <td></td>
        </tr>

    </table>
    <span id="who_made_this">Who made this?</span>
    <hr>
    <p>Explain the project and who made it.</p>

{% endblock %}