{% extends 'layout.html' %}

{% block body %}
    {% if view  %}
        {% if view == "admin" %}
            {% include 'includes/_admin_help.html' %}
        {% elif view == "client" %}
            {% include 'includes/_client_help.html' %}
        {% endif %}
    {% else %}

    <span class="titles" id="about">About</span>
    <hr>
    <br>
    <a href="#what_is_booker_lms"><button class="actors"><img src="/static/presentation/img/Actor_1.png" alt="What Is Booker LMS?"/></button></a>
    <a href="#what_do_i_do"><button class="actors"><img src="/static/presentation/img/Actor_2.png" alt="What Do I Do?"/></button></a>
    <a href="#who_made_this"><button class="actors"><img src="/static/presentation/img/Actor_3.png" alt="Who Made This?"/></button></a>
    <br>
    <br>
    <span class="titles" id="what_is_booker_lms">What is Booker LMS?</span>
    <hr>
    <p>Booker LMS, a Library Management System, provides on-line access to a Library catalog that any logged-in user may explore. The catalog is filled with wonders such as printed and media items, namely, books, magazines, music and movies. Pick and choose from the large selection of items of all genres and loan it to enjoy it. All items are loanable if available, at the exception of magazines.</p>
    <span class="titles" id="what_do_i_do">What do I do?</span>
    <hr>
    <p>Welcome to Booker LMS, first time here? It is Bob's first time as well, so let us figure it out together.</p>
    <br>
    <table class="borderless">
        <tr>
            <td><img src="/static/presentation/img/Bob_Says_Hi.png" alt="Bob Says Hi"/></td>
            <td><img src="/static/presentation/img/Bob_is_Lost.png" alt="Bob Is Lost"/></td>
            <td>Bob visited the Booker Library yesterday and chose an email and password he would use to gain access to the on-line system. After his account being setup, he decided to visit, for the first time, the Booker LMS web application to choose an item to borrow. However, he has no clue how to navigate the system! Follow the steps below to find out how!</td>
        </tr>
        <tr>
            <th>Step 1: Go to the login page</th>
            <td class="borderless">To get to the login page, Bob must click on the Login button located, at the top of the page, on the navigation bar.</td>
        </tr>
        <tr>
            <td class="borderless" colspan="3"><img src="/static/presentation/img/login_instruction.png" alt="Image for step 1"/></td>
        </tr>
        <tr>
            <th>Step 2: Log in</th>
            <td class="instruction">To gain access to the functionalities of the system, Bob must enter his email address and password in the appropriate fields and click the Login button right below.</td>
        </tr>
        <tr>
            <td class="borderless" colspan="3"><img src="/static/presentation/img/email_pw_instruction.png" alt="Image for step 2"/></td>
        </tr>
        <tr>
            <th>Step 3: Determine scope of access</th>
            <td class="instruction">Are you like Alice and have an administrator account? Log in as explained above and follow Alice to view further instructions.</td>
        </tr>
        <tr>
            {% if session.admin == True %}
                <th class="borderless"> Hi, I am Alice! Follow me to get more information about the tools available to you as an administrator.</th>  
                <td class="instruction"><a href="/about/admin"><img src="/static/presentation/img/Alice_Says_Follow_Me.png"></a></td>
            {% else %}
            <th class="borderless"> Hi, I am Alice! Log in, with your administrator account and follow me to get more information about the tools available to you as an administrator.</th>  
            <td class="instruction">You don't have an administrator account ? Send a request for an admin account to <a href="mailto:alice@gmail.com">alice@gmail.com</a> along with your emloyee id number. Already have your account ? <a href="/login">Log in.</a></td>  
            {% endif %}
        </tr>
        <tr>
            <th>Step 4: For instructions on how to use the catalog and loan items, click on the question mark on the navbar.</th>
            <td class="instruction"><center><img src="/static/presentation/img/Help_button.png" alt="Image for step 4"/></center></td>
        </tr>
    </table>
    <br>
    <span class="titles" id="who_made_this">Who made this?</span>
    <hr>
    <p>The Booker LMS System was designed, documented and implemented as part of a team project in Software Architecture and Design.
        In the department of Computer Science and Software Engineering at Concordia University, Montreal, Canada. Fall 2018.
    </p>
    <br>
    <h1 class="titles">The Team:</h1>
        <br>
        Dmitry Feoktistov
        <br>
        Michael Gagnon
        <br>
        Carlo Gentile
        <br>
        Kevin Janeiro
        <br>
        Vineet Koppalkar
        <br>
        Petia Pavlova
        <br>
        Patrick Pin
        <br>
        Min Jun Suzanne Trieu Chao
        <br>
        Pierre Watine
        <br>
        <br>

    
    {% endif %}
{% endblock %}