{% extends 'layout.html' %}

{% block body %}
    <a href="#what_is_booker_lms"><button class="actors"><img src="/static/presentation/img/Actor 1.png" alt="What Is Booker LMS?"/></button></a>
    <a href="#what_do_i_do"><button class="actors"><img src="/static/presentation/img/Actor 2.png" alt="What Do I Do?"/></button></a>
    <a href="#who_made_this"><button class="actors"><img src="/static/presentation/img/Actor 3.png" alt="Who Made This?"/></button></a>
    <br>
    <br>
    <span id="what_is_booker_lms">What is Booker LMS?</span>
    <hr>
    <p>Explain what Booker LMS is and does.</p>
    <span id="what_do_i_do">What do I do?</span>
    <hr>
    <p>Explain how a client would use the website and add link for admins</p>
    <span id="who_made_this">Who made this?</span>
    <hr><hr>
    <p>Explain the project and who made it.</p>

{% endblock %}