{% extends 'layout.html' %}

{% block body %}

{% from "includes/_form_helpers.html" import render_field %}
<form method="POST" action="/borrowed_items">
    <div class="row m-0">
        <div class="col-sm-9">
            <h4>Borrowed Items</h4>
        </div>
        <div class="col-sm-3">
            <input id="submit" class="form-control btn btn-primary float-right" type="submit" value="Return selected items">
        </div>
    </div>
    <br/>
    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th>Item Type</th>
            <th>Title</th>
            <th>Due Date</th>
            <th>View Details</th>
            <th>Return</th>
        </tr>
        </thead>
        <tbody>
        {% for physical_item, spec_item in borrowed_items %}
            <tr>
                <td><center>
                    {% if physical_item.prefix == "bb" %}
                        Book
                    {% elif physical_item.prefix == "ma" %}
                        Magazine
                    {% elif physical_item.prefix == "mu" %}
                        Music
                    {% elif physical_item.prefix == "mo" %}
                        Movie
                    {% endif %}
                </center></td>
                <td>{{spec_item.title}}</td>
                <td><center>{{physical_item.return_date}}</center></td>
                <td><center>Info</center></td>
                <td><center><input type="checkbox" class="checkboxes" name={{physical_item.prefix}}{{physical_item.item_fk}} value={{physical_item.id}}></center></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</form>


<script src="../static/presentation/js/check_items.js"></script>

{% endblock %}