{% extends 'layout.html' %}

{% block body %}

{% from "includes/_form_helpers.html" import render_field %}
<form method="POST" action="/borrowed_items">
    <div class="row m-0">
        <div class="col-sm-9">
            <h4>Borrowed Items</h4>
        </div>
        <div class="col-sm-3">
            <input id="submit" class="form-control btn btn-primary float-right" type="submit" value="Return selected items">
        </div>
    </div>
    <br/>
    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th><center>Item Type</center></th>
            <th><center>Title</center></th>
            <th><center>Due Date</center></th>
            <th><center>View Details</center></th>
            <th><center>Return</center></th>
        </tr>
        </thead>
        <tbody>
        {% for physical_item, x in borrowed_items %}
            <tr>
                <td><center>
                    {% if physical_item.prefix == "bb" %}
                        Book
                    {% elif physical_item.prefix == "ma" %}
                        Magazine
                    {% elif physical_item.prefix == "mu" %}
                        Music
                    {% elif physical_item.prefix == "mo" %}
                        Movie
                    {% endif %}
                </center></td>
                <td><center>{{x.title}}</center></td>
                <td><center>{{physical_item.return_date}}</center></td>

                <td class="detailed-view">
                    {% with %}
                        {% set loop_index0 = loop.index0 %}
                        {% include 'includes/_detailed_view.html' %}
                    {% endwith %} 
                    {% include 'includes/_modal_open.html' %}
                </td>
                <td><center><input type="checkbox" class="checkboxes" name={{physical_item.prefix}}{{physical_item.item_fk}} value={{physical_item.id}}></center></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</form>


<script src="../static/presentation/js/check_items.js"></script>

{% endblock %}