{% extends 'layout.html' %}

{% block body %}
    <h3>Modify an item</h3>
    {% from "includes/_formhelpers.html" import render_field %}
    <form method="POST" action="/">
        <div class="form-group text-dark">
            {{render_field(form.title, class_="form-control")}}
        </div>
        <div class="form-group text-dark">
            {{render_field(form.author, class_="form-control")}}
        </div>
        <div class="form-group text-dark">
            {{render_field(form.format, class_="form-control")}}
        </div>
        <div class="form-group text-dark">
            {{render_field(form.pages, class_="form-control")}}
        </div>
        <div class="form-group text-dark">
            {{render_field(form.publisher, class_="form-control")}}
        </div>
        <div class="form-group text-dark">
            {{render_field(form.language, class_="form-control")}}
        </div>
        <div class="form-group text-dark">
            {{render_field(form.isbn10, class_="form-control")}}
         </div>
        <div class="form-group text-dark">
            {{render_field(form.isbn13, class_="form-control")}}
         </div>
        <div class="form-group text-dark">
            <input type="submit" class="btnSubmit" value="Modify" />
        </div>
    </form>

{% endblock %}