{% extends 'layout.html' %}

{% block body %}
    <div class="tool-container container">
        <span id="items-title">Home</span>
        <hr>
    </div>
    {%if session.logged_in %}
        Welcome to the library {{session.first_name}} <br>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="book-tab" href="/home/bb" aria-controls="book" aria-selected="true">Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" id="magazine-tab"  href="/home/ma" aria-controls="magazine" aria-selected="false">Magazines</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" id="music-tab" href="/home/mu" aria-controls="music" aria-selected="false">Music</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" id="movie-tab" href="/home/mo" aria-controls="movie" aria-selected="false">Movies</a>
            </li>
        </ul>
        {% if item == "bb" %}
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="book" role="tabpanel" aria-labelledby="book-tab">
                <br/>
                <center><h3>Books</h3></center>
                <table class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Format</th>
                        <th>Pages</th>
                        <th>Publisher</th>
                        <th>Language</th>
                        <th>ISBN-10</th>
                        <th>ISBN-13</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for x in item_list %}
                    <tr>
                        <td>{{x.title}}</td>
                        <td>{{x.author}}</td>
                        <td>{{x.format}}</td>
                        <td>{{x.pages}}</td>
                        <td>{{x.publisher}}</td>
                        <td>{{x.language}}</td>
                        <td>{{x.isbn10}}</td>
                        <td>{{x.isbn13}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif%}
            {% if item == "ma" %}
            <div class="tab-pane fade show active" id="magazine" role="tabpanel" aria-labelledby="magazine-tab">
                <br/>
                <center><h3>Magazines</h3></center>
                <table class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Publisher</th>
                        <th>Language</th>
                        <th>ISBN-10</th>
                        <th>ISBN-13</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for x in item_list %}
                    <tr>
                        <td>{{x.title}}</td>
                        <td>{{x.publisher}}</td>
                        <td>{{x.language}}</td>
                        <td>{{x.isbn10}}</td>
                        <td>{{x.isbn13}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif%}
            {% if item == "mu" %}
            <div class="tab-pane fade show active" id="music" role="tabpanel" aria-labelledby="music-tab">
                <br/>
                <center><h3>Music</h3></center>
                <table class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>Type</th>
                        <th>Title</th>
                        <th>Artist</th>
                        <th>Label</th>
                        <th>Release Date</th>
                        <th>ASIN</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for x in item_list %}
                    <tr>
                        <td>{{x.media_type}}</td>
                        <td>{{x.title}}</td>
                        <td>{{x.artist}}</td>
                        <td>{{x.label}}</td>
                        <td>{{x.release_date}}</td>
                        <td>{{x.asin}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif%}
            {% if item == "mo" %}
            <div class="tab-pane fade show active" id="movie" role="tabpanel" aria-labelledby="movie-tab">
                <br/>
                <center><h3>Movies</h3></center>
                <table class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Director</th>
                        <th>Producers</th>
                        <th>Actors</th>
                        <th>Language</th>
                        <th>Subtitles</th>
                        <th>Dubbed</th>
                        <th>Release Date</th>
                        <th>Run Time</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for x in item_list %}
                    <tr>
                        <td>{{x.title}}</td>
                        <td>{{x.director}}</td>
                        <td>{{x.producers}}</td>
                        <td>{{x.actors}}</td>
                        <td>{{x.language}}</td>
                        <td>{{x.subtitles}}</td>
                        <td>{{x.dubbed}}</td>
                        <td>{{x.release_date}}</td>
                        <td>{{x.runtime}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>

        <script>
            $(document).ready( function () {
                $('table').DataTable({
                    "searching": false
                });
            } );
        </script>
    {% endif %}
{% endblock %}