{% extends 'layout.html' %}

{% block body %}
<div class="tool-container container">
        <span class="titles">Login</span>
        <hr>
    </div>

<div class="container login-container">
    <div class="login-form-1">
        <form method="POST" action="/login">
            <div class="form-group">
                <input type="text" name="email" class="form-control" placeholder="E-mail" value="{{request.form.email}}" />
            </div>
            <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="Password" value="{{request.form.password}}" />
            </div>
            <div class="form-group">
                <input type="submit" class="btnSubmit" value="Login" />
            </div>
        </form>
    </div>
</div>
    
{% endblock %}